<!DOCTYPE html>
<html>
  <head>
    <title> Data </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu %>

    <h1> Mysql </h1>
    <p> Data Mysql</p>

    <% include menu %>

  </body>
</html>