<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style>
  div{text-align:right}
  body{background-image: url(/images/cloud.jpg)}
  h1{font-size: 80px; text-align: center; color: rgb(254,139,24);}
  p{font-size: 40px; font-family: Georgia; text-align: center; color: rgb(254,139,24);}
  a{font-size: 40px; color: rgb(255,255,255);}
  div{text-align: center; }
</style>
  </head>
  <body>

    <h1> Demo </h1>
    <p>Welcome! You can view and manage your data online!</p>
    <br/><br/><br/><br/><br/>

    <div>
    <a href='/login'>login</a><br/><br/><br/>
    <a href='/register'>register</a>
    </div>
  </body>
</html>